<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 第一：下载、导入Vue框架的JS文件 -->
    <script type="text/javascript" src="../js/vue.min.js"></script>


    <style>

    </style>
</head>
<body>
    <!--
        循环语句（循环结构）
            v-for

            <标签 v-for="迭代变量 in 数组"> 内容 </标签>
            <标签 v-for="(迭代变量，索引) in 数组"> 内容 </标签>

            <标签 v-for="(属性值,属性名称) in 对象"> 内容 </标签>
            <标签 v-for="(属性值,属性名称,索引) in 对象"> 内容 </标签>

            注意：在循环中，可以通过绑定:key属性，
            可以帮助Vue区分不同的元素，从而提高性能

            :key属性的属性值要求是唯一的

    -->


    <!-- 第二：结构化页面，设置挂载点 -View（视图层）-->
    <div id="app">
        <table border="1" align="center" width="80%">
            <tr>
                <td>编号</td>
                <td>名称</td>
                <td>产地</td>
                <td>价格</td>
                <td>操作</td>
            </tr>

            <tr v-for="(p,index) in productArr" :key="index">
                <td>{{ p.productNo }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.place }}</td>
                <td>{{ p.price }}</td>
                <td>删除|修改</td>
            </tr>
        </table>
    </div>

    <script>
        // 第三：创建Vue实例 - 定义相关的参数信息（选项） - {} - view model（控制层）
        let vm = new Vue({
            // 1.绑定挂载点
            el:'#app',

            // 2.定义页面数据
            data:{
                productArr:[
                    {
                        productNo:1001,
                        name:'苹果',
                        price:18,
                        place:'广东珠海'
                    },
                    {
                        productNo:1002,
                        name:'雪梨',
                        price:28,
                        place:'广东中山'
                    },
                    {
                        productNo:1003,
                        name:'香蕉',
                        price:38,
                        place:'广东广州'
                    },
                    {
                        productNo:1004,
                        name:'火龙果',
                        price:48,
                        place:'广东深圳'
                    }
                ]
            },

            // 3.方法
            methods:{

            }
        }) ;

    </script>








</body>
</html>